<!doctype>
<html>
    <head>
        <!--<script src="/static/main.js" defer></script>-->
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        {% block header %}{% endblock %}
    </head>
    <body>
        <header>
            <div class = "header-row">
                <div class = "header-column">
                <img src="https://image.flaticon.com/icons/png/512/99/99204.png" width = "200" height = "200">
                </div>
                <div class = "header-column">
                <h1 class="display-3">Parcel tracker</h3>
                <blockquote class="blockquote">
                  <p class="mb-0">hard as a nutcracker</p>
                </blockquote>
                </div>
            <div>
        
        </header>
        
        <nav class = "navbar navbar-expand-lg navbar-light bg-light">
        
         <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class = "navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home page</a>
                </li>
                {% if not g.user %}
                <li class = "nav-item">
                    <a class = "nav-link" href="/sender/sign_up">Sign up</a>
                </li>
                <li class = "nav-item">
            	        <a class = "nav-link" href="/sender/login">Login</a>
        	        </li>
        	        {% endif %}
        	        {% if g.user %}
        	        <li class = "nav-item">
            	        <a class = "nav-link" href="/sender/packages">Packages</a>
        	       </li>
        	       <li class = "nav-item">
            	       <a class = "nav-link" href="/user/profile">Profile</a>
        	       </li>
        	       <li class = "nav-item">
                	    <a class = "nav-link" href="/logout">Logout</a>    
            	   </li>    
            	   <li class = "nav-item">
                	    <a class = "nav-link" href="/notifications">Notifications</a>    
            	   </li> 	    
            	    {% endif %}
        	    </ul>
        </div>
       </nav>
       
        <section>
    {% with messages = get_flashed_messages() %}
                 {% if messages %}
                         <ul class=flashes>
                                 {% for message in messages %}
                                         <li>{{ message }}</li>
                                 {% endfor %}
                         </ul>
                 {% endif %}
         {% endwith %}
    
    {% block content %}
    {% endblock %}
        <div id='for_mess'>
        </div>
        </section>
        
        <footer>
            2020, Marharyta Kruk, semester 7, see project on <a href="https://github.com/straiffix/Web_programming_course"> github</a>
        </footer>
    </body>
</html>
