{% extends 'layout.html' %}

{% block header %}

{% endblock %}




{% block content %}

<form method="POST" action="/sender/packages" target = "_self" method="POST">
        <ul>
            <li><input type="text" id = "pckgn" name="pckgn" placeholder="Package name"/></li>
            <li><input type="text" id = "pckgw" name="pckgw" placeholder="Package weight"/></li>
            <li><input type="text" id = "pckgcell" name="pckgcell" placeholder="Post cell id"/></li>
            <li><input type="submit" id = "submit" name= "submit" placeholder="Submit"/></li>      
        </ul>
        </form>

{% with messages = get_flashed_messages() %}
                 {% if messages %}
                         <ul class=flashes>
                                 {% for message in messages %}
                                         <li>{{ message }}</li>
                                 {% endfor %}
                         </ul>
                 {% endif %}
         {% endwith %}

{% if not haspackages %}
		Nie masz paczek
	{% else %}
		<ol>
		{% for package, token in tokens.items() %}
			<li><a href="/package/{{ package }}?token={{ token }}"> {{ package }} </a></li>
		{% endfor %}
		</ol>
	{% endif %}

{% endblock %}