{% extends 'layout.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='packages.css') }}">
{% endblock %}




{% block content %}
<div class = "packages-row">

<div class= "form-container">
<div class="card border-info mb-3" style="max-width: 20rem;">
<form method="POST" action="/sender/packages" target = "_self" method="POST">
        <h4 class="card-header">Add package</h4>
        <fieldset>
            <input type="text" class = "form-control" id = "pckgn" name="pckgn" placeholder="Package name"/>
            <input type="text" class = "form-control" id = "pckgw" name="pckgw" placeholder="Package weight"/>
            <input type="text" class = "form-control" id = "pckgcell" name="pckgcell" placeholder="Post cell id"/>
            <input type="submit" class = "btn btn-primary" id = "submit" name= "submit" placeholder="Submit"/> 
        </fieldset>
        </div>
        </form>
</div>

<div class="card border-info mb-3" style="max-width: 20rem;">
<form method="POST" action="/sender/packages" target = "_self" method="POST">
        <h4 class="card-header">Remove package</h4>
        <fieldset>
            <input type="text" class = "form-control" id = "pckid" name="pckgid" placeholder="Package id"/>
            <input type="submit" class = "btn btn-primary" id = "submit" name= "submit" placeholder="Submit"/>    
        </fieldset>
        </form>
</div>
</div>

<div class = "packages-table">

{% if not haspackages %}
		<h3>You don't have any packages</h3>
	{% else %}
    	<div class = 'packages_list'>
        	<h3>List of packages</h3>
		<ol>
		{% for package, token in tokens.items() %}
			<li><a href="/package/{{ package }}?token={{ token }}"> {{ package }} </a></li>
		{% endfor %}
		</ol>
    </div>
	{% endif %}
</div>
</div>
{% endblock %}
