<!doctype>
<html>
    <head>
        <!--<script src="/static/main.js" defer></script>-->
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <body>
        <header>
       <div class = "img-header">
        </div>
        <h1>Parcel tracker, hard as a nutcracker</h1>
        
        </header>
        
        <div class = "navbar">
            <a class="active" href="/">Home page</a>
            <a href="/sender/sign_up"">Sign up</a>
        </div>
        
        <!--
        <nav class="crumbs">
        <ol>
            <li class ="crumb"><a href="/">Main page</a></li>
            <li class ="crumb"><a href="/sender/sign_up">Login</a></li>
        </ol>
        </nav>
        -->
        
        <section>
            Project for Web programming course, here will be something awesome later.
        </section>
        
        <footer>
            2020, Marharyta Kruk, semester 7, see project on <a href="https://github.com/straiffix/Web_programming_course"> github</a>
        </footer>
    </body>
</html>
