<!doctype>
<html>
    <head>
        <!--<script src="/static/main.js" defer></script>-->
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <header>Some basic header, can be something more interesting
        </header>
        
        <div class = "navbar">
            <a class="active" href="/">Main page</a>
            <a href="/sender/sign_up"">Login</a>
        </div>
        
        <!--
        <nav class="crumbs">
        <ol>
            <li class ="crumb"><a href="/">Main page</a></li>
            <li class ="crumb"><a href="/sender/sign_up">Login</a></li>
        </ol>
        </nav>
        -->
        
        <section>
            Main page
        </section>
        
        <footer>
            Marharyta Kruk, semester 7, see project on <a href="https://github.com/straiffix/Web_programming_course"> github page</a>
        </footer>
    </body>
</html>
