<!doctype>
<html>
    <head>
        <script src="/static/main.js" defer></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
    
        <header>Some basic header, can be something more interesting
        </header>
        
        
        
        <div class = "navbar">
            <a href="/">Main page</a>
            <a class="active" href="/sender/sign_up"">Login</a>
        </div>
    
        <section>
            <form method="POST" action="https://infinite-hamlet-29399.herokuapp.com/sender/register" >
        <ul>
            <li>
                <input type="text" id = "textname" name="firstname" placeholder="Name"/>
                <p data-alert hidden></p>
            </li>
            <li>
                <input type="text" id = "textlastname" name="lastname" placeholder="Surname"/>
                <p data-alert hidden></p>
            </li>
            <li>
                <input type="text" id = "textusername" name="username" placeholder="Username"/>
                <p data-alert hidden></p>  
            </li>
            <li>
                <input type="password" id = "textpass" name="password" placeholder="Password"/>
                <p id="alert_pass" data-alert hidden></p>
            </li>
            <li>
                <input type="password" id = "textpass_second" name="password_second" placeholder="Repeat password"/>
                <p id="alert_pass2" data-alert hidden></p>
            </li>
            <li>
                <input type="file" id = "avatar" name ="avatar">
                <p data-alert hidden></p>
            </li>
            <li>
                <input type="submit" id = "submit" name="submit" placeholder="Submit"/>
            </li>      
        </ul>
        </form>
        
        </section>
        
        <footer>
            Marharyta Kruk, semester 7, see project on <a href="https://github.com/straiffix/Web_programming_course"> github page</a>
        </footer>
    
    
        
    </body>
</html>
