<!doctype>
<html>
    <head>
        <script src="/static/main.js" defer></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
    
        <header>Some basic header, can be something more interesting
        </header>
        
        
        
        <div class = "navbar">
            <a href="/">Main page</a>
            <a class="active" href="/sender/sign_up"">Login</a>
        </div>
    
        <section>
            <form method="POST" action="https://infinite-hamlet-29399.herokuapp.com/sender/register" enctype="multipart/form-data">
        <ul>
            <li><input type="text" id = "firstname" name="firstname" placeholder="Name"/></li>
            <p id="alert_name" hidden></p>
            <li><input type="text" id = "lastname" name="lastname" placeholder="Surname"/></li>
            <p id="alert_lastname" hidden></p>
            <li><input type="text" id = "login" name="login" placeholder="Username"/></li>
            <p id="alert_username" hidden></p>
            <li><select id="gender" name = "sex">
                    <option value="M" selected>Male</option>
                    <option value="F">Female</option>
                </select></li>
            <p id="alert_gender" hidden></p>
            <li><input type="password" id = "password" name="password" placeholder="Password"/></li>
            <p id="alert_pass" hidden></p>
            <li><input type="password" id = "password_second" name="password_second" placeholder="Repeat password"/></li>
            <p id="alert_pass2" hidden></p>
            <li><input type="file" id = "photo" name ="photo"></li>
            <p id="alert_avatar" hidden></p>
             <li><input type="submit" id = "submit" name= "submit" placeholder="Submit" disabled/></li>      
        </ul>
        </form>
        
        </section>
        
        <footer>
            Marharyta Kruk, semester 7, see project on <a href="https://github.com/straiffix/Web_programming_course"> github page</a>
        </footer>
    
    
        
    </body>
</html>
